<div class="post">
        <a href="#"><h1><%= @post.title %></h1></a>
        <hr>
        <div class="in-content">
        <span class="timestamp">
        <%= t ".posted" %> <%= time_ago_in_words @post.created_at %> <%= t ".ago" %>
        </span>
          <p>
            <%= @post.body %>
          </p>
        </div>
        <div class="foot-post">
          <div class="units-row">
          <div class="unit-100">
          </div>
          <div class="unit-100">
          <strong>COMMENTS:</strong>
        <a href="#"><%= @comments.count %></a>
      </div>
    </div>
  </div>
</div>
<div id="comments">
  <%= render @comments %>
</div>
<% if logged_in? %>
  <% if current_user.id == @post.user.id or @post.user.following? current_user %>
    <%= form_for [@post,@post.comments.new], remote: true do |f| %>
      <%= f.text_field :content, class: "form-control" %>
      <%= f.submit t(".submit"), class: "btn btn-success" %>
    <% end %>
  <% end %>
<% end %>
